@media(max-width:1199px){
    nav ul li a{
        padding: 25px 10px
    }
    .v-widegt{
        padding: 31px 10px;
    }
}
@media (max-width: 991px) {
  .navbar-toggler {
      display: inline-block;
      position: absolute;
      top: 20px;
      right: 20px;
      color: #173a64;
  }
    .sliderHome .overlay h1{
        font-size: 30px;
    }
    .sliderHome .overlay p{
        font-size: 25px;
    }
    nav ul li a{
        display: block;
        text-align: center;
    }
    
    a.trans{
        padding: 20px;
        text-align: center;
        font-size: 25px;
        display: block
    }
    .side{
        padding: 0 !important
    }
    .owl-carousel .item .owl-item-slide{
        height: 200px;
        min-height: 200px
    }
    .ma-t{
        margin: 0
    }
    .home-slider h2 img{
        max-width: 231px;
    }
}

@media (min-width: 991px) {
  nav .collapse {
    display: inline-block;
  }
  nav .collapse li {
    display: inline-block;
  }
    
}

@media(max-width:767px){
    
    .side h2{
        margin: 50px 0
    }
    .home-slider .slider_content .slider-content-inner p{
        width: 64%
    }
    footer{
        height: 75vh;
    }
    footer .top-foot p{
        width: 100%
    }
    .main{
        margin-bottom: 75vh
    }
    footer .bottom-foot .f-right,
    footer .bottom-foot .f-left{
        float: none;
        width: 100%;
        text-align: center
    }
}
@media(max-width:575px){
    .foodWidget .foodImg .foodcontent h5{
        font-size: 20px;
    }
    .foodWidget .foodImg .con{
        padding: 5px 10px;
    }
    .sliderHome ul.slick-dots{
/*
        bottom: 20px;
        top: auto;
        transform: translateX(-50%);
        left: 50%;
*/
    }
    .sliderHome ul.slick-dots > li {
/*
        display: inline-block;
        height: 3px;
        width: 20px;
        margin-top: 0;
        margin-left: 15px;
*/
    }
   
    .sliderHome .overlay h1{
        font-size: 30px;
    }
    .sliderHome .overlay p{
        font-size: 15px;
    }
    .load #cooking{
        width: 300px;
        height: 300px
    }
   
    nav img{
        margin-left: 20px;
    }
    footer .logo{
        margin: auto
    }
    ul.socail {
        text-align: center;
        margin: 20px 0;
    }
}
