/*Table Content
==========================
    # General
        - Fonts
    # Links
    # Headings
    # Lists
        - Social-List
        - Contact-List
    # Images
*/


/* General
======================= */
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway');


body{
    font-size: 18px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden !important;
}

/* Preload */
.load {
    background-color: #fff;
    position:fixed;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    z-index:999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.load img{
    width: 120px;
    animation: opac 0.9s ease-in-out  alternate-reverse infinite;  
}

@keyframes opac{
    from{
        opacity:0.4;        
    }
    to{
        opacity:1;
        
    }
}
.justify-content-evenly{
    justify-content: space-evenly !important
}
.mainColor {
    color: #173a64;
}
.secondColor{
    color:#2dccd3
}
button:focus{
    outline: 0;
    box-shadow: 0;
}
/* Links
==========================*/
a{
    
}
a, a:hover, a:focus{
    text-decoration: none;
    color: inherit
}
/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
    font-weight: bold;
}
p{
    margin: 0;
}
/*Lists
==========================*/
ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.socail  {
    margin-top: 30px;
    text-align: center;
}
ul.socail  li{
    display: inline-block;
    margin: 2px;
}
ul.socail  li a{
    color: inherit
}
ul.socail  li i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    border:1px solid #a6a6a6;
    cursor: pointer;
    color: #a6a6a6;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}
ul.socail  li i:after{
    content: "";
    background: #a6a6a6;
    z-index: -1;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    transform-origin: center
}
ul.socail  li i:hover:after {
    transform: scale(1);
}
ul.socail  li i:hover {
    color: #FFF
}
/* Images
=========================== */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* Section Setting
============================ */ 
.section-lg{
    padding: 80px 0;
}
.section-md{
    padding: 50px 0;
}

.title{
    font-size: 40px;
    padding-bottom: 35px;
}


/* nav
=================== */
nav{
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1);
    background: #ffffff;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 998
    
}
nav img{
    height: 66px;
    margin: 5px 0;
}
.navbar-toggler {
  display: none;
}

nav ul{
    
}
nav ul li{
    
}
nav ul li a {
    color: #173a64;
    padding: 25px 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out
}
nav ul li a:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #173a64;
    width: 100%;
    height: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out
}

/*nav ul li a:hover:after,*/
nav ul li a.active{
    color: #FFF
}
nav ul li a.active:after{
    height: 100%;
}
/* featureW
==================*/
.feature{
    background-color: #173a64;
    color: #FFF;
    position: relative
}
.feature-widget{
    margin-bottom: 20px
}
.feature-widget .image{
    display: inline-block;
    vertical-align: middle
}
.feature-widget .image img{
    width: 150px;
}
.feature-widget .content{
    display: inline-block;
    
}
.feature-widget .content p {
    font-size: 22px;
}

/* inner-contact
=================*/
.news,
.contact{
    background-color: #FFF;
    
}
.inner-contact {
    box-shadow: 0 0 38px 5px rgba(0,0,0,0.05);
    border:2px dashed #bbbbbb;
    padding: 30px; 
}
.inner-contact iframe{
    width: 100%;
}
.inner-contact iframe:first-child {
    margin-top: 30px;
}
.inner-contact button{
    color: #FFF;
    border:none;
    background: #173a64;
    padding: 7px 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}
.inner-contact button:hover{
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1);
}
/* form-group
======================= */
.form-group{
    margin-bottom: 25px
}
.form-group label{
    font-size: 15px;
}
.form-group .form-control{
    border:0;
    border-radius: 0;
    background: #e4e4e4;
    color: #4e4d4d;
    border:1px solid transparent
}
.form-group textarea{
    resize: vertical;
    min-height: 150px;
    max-height: 170px;
}
.form-group .form-control:focus{
    box-shadow: none;
    outline: 0;
    border-color: #173a64
}

/* about
======================= */
.about{
    background-color: #FFF;
    position: relative
}

.bg-gray{
    background-color: #f3f4f5;
    padding: 60px 20px;
    position: relative;
}

.noPadding{
    padding: 0
}
.bg-blue {
    background-color: #173a64;
    padding: 30px;
    position: relative
}
.bg-white{
    background-color: #FFF;
}
.side {
    padding: 80px 0 60px;
}
.bg-blue h2{
    width: 75%;
    color: #FFF;
    margin: 50px 0 70px;
    position: relative
}
.bg-blue .line:after{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    background-color: #2dccd3;
    width: 70px;
    height: 3px;
}
.about h3{
    letter-spacing: 4px
}
.about p {
    color: #939598;
    line-height: 2.5;
    max-height: 255px;
    overflow: hidden;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
.about p.active {
    max-height: inherit
}
.about span{
    display: block !important;
    text-decoration: underline !important;
    padding: 45px 0 0;
    color: #2dccd3 !important;
    cursor: pointer
}
/* SECTORS
===============*/   
.sectors{
     background-color: #FFF
}
.sectors .banner{
    background-color: #ebeeef;
    position: relative
}
.second .banner{
    background-color: #173a64;
}
.first .banner {
    padding-top: 71px;
}
.banner .feature-widget  img{
    width: 200px;
}
.pattern{
    position: absolute;
    right: 30px;
    bottom: -19px;
    width: 255px;
    z-index: 55;
    
}

.sector-widget {
    margin: 10px 0 40px;
    position: relative;
   
}
.sector-widget:after{
    content: "";
    position: absolute;
    bottom: -20px;
    height: 4px;
    background-color: #d1d3d4;
    width: 130px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    cursor: pointer
}
.sector-widget.active:after,
.sector-widget:hover:after{
    background-color: #2dccd3;
}
.sector-widget img{
    max-width: 250px;
    margin: auto
}
.sector-widget a{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block
}
.sector-widget .slidet {
    overflow-y: hidden;
	max-height: 0; /* approximate max height */
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}
.sector-widget .slidet p {
    width: 95%
}
.sector-widget.active .slidet,
.sector-widget:hover .slidet{
   max-height: 500px; /* approximate max height */
}
/* news
=================== */
.news{
    
}
.image-news {
    
}
.image-news img{
    width: 90%;
   
}
.news-widget {
    
}
.news-widget .image {
    height: 350px;
    overflow: hidden
}
.news-widget .content{
    width: 90%;
    text-align: center;
    margin: 20px auto;
}
.news-widget .content a {
    color: #2dccd3;
    margin-top: 30px;
    display: block;
    text-decoration: underline;
}
.news-widget .image img{
    width: 90%;
    margin: 20px auto; 
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out
}
.news-widget .image:hover img{
    transform: scale(1.03) rotate(1deg);
    
}
    







a.trans{
    color: #173a64;
    padding: 0 20px ;
    font-size: 25px;
}

/* footer 
=========================== */
footer{
    background-color: #fafafa;
    height: 70vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
/*
    background-image: url(../images/pattern.svg);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: left bottom;
*/
}
footer .top-foot{
    text-align: center;
    border-bottom: 1px solid #eeeeee
}
footer .top-foot h3 {
    font-size: 25px;
    margin-bottom: 20px
}
footer .top-foot p{
    line-height: 26px ;
    font-size: 20px;
    width: 50%;
    margin: 0 auto 24px;
    opacity: .8;
}
footer .top-foot form {
}
footer .top-foot form input{
    width: 40%;
    margin: auto;
    padding: 15px;
}
footer .top-foot form button{
    display: inline-block;
    padding:  18px 13px 16px;
    margin-left: -5px
}
footer .bottom-foot{
    overflow: hidden;
    padding: 30px 0
}
footer .bottom-foot .f-left {
    float: left
}
footer .bottom-foot .f-left p{
}
footer .bottom-foot .f-left p::after{
    z-index: -1
}
footer .bottom-foot .f-right{
    float: right
}
footer .bottom-foot .f-right ul.socail{
    margin: 0
}
footer .bottom-foot .f-right ul.socail li{
    display: inline-block;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
}
footer .bottom-foot .f-right ul.socail li a{
}
footer .bottom-foot .f-right ul.socail li a:hover{
    color: #2dccd3
}

.main{
    margin-bottom: 70vh;
    z-index: 2;
    position: relative;
}



/*custom-btn
===========================*/
 .custom-btn{
    background-color: transparent;
    color: #222;
    border:2px solid #000;
    padding: 10px 20px;
    font-size: 17px;
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    z-index: 1
}


/*.custom-btn.black
==========================*/
 .custom-btn.black {
    background: #173a64;
    color: #FFF !important;
    border: 1px solid #173a64;
}
 .custom-btn.black:hover {
    background: #2dccd3;
    border: 1px solid #2dccd3;
}
 .custom-btn.black:after{
    content: none
}

/* Scroll-top
===================*/
#scroll{
    background:#173a64;
    color: #ffffff;
    font-size: 20px;
    right: 20px;
    position: fixed;
    z-index: 9999;
    text-align: center;
    bottom: 20px;
    cursor: pointer;
    display: none;
    padding: 10px;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent
}
#scroll:hover{
    color: #2dccd3;
    background: #FFF;
    border-color: #2dccd3
}



/* owl-carousel
======================== */

.owl-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99
}
.owl-dots  .owl-dot span{
    display:inline-block;
    height: 20px;
    background-color: #fff;
    width: 20px;
    margin-left: 15px;
    transform: rotate(45deg);    
    cursor: pointer
}

.owl-dots .owl-dot.active span {
    background-color: #173a64;
}
.home-slider{
    position: relative;
    background-color: #FFF
}
.home-slider .pattern img{
    width: 115px !important
}
.home-slider .pattern{
    bottom: 0;
    width: auto
}
.home-slider .sideHome{
    padding: 90px 20px
}
.sideHome h2{
    position: relative
}
.sideHome h2:after{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    background-color: #2dccd3;
    width: 70px;
    height: 3px;
}
.owl-carousel{

}
.owl-carousel .item .owl-item-slide{
    height: 70vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    min-height: 500px;
    background-position: center center !important
}
.owl-carousel .item .owl-item-slide .slider_content {
    display: table;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: relative;
    color: #ffffff;
}

.home-slider  h2{
    transition: all 0.4s 300ms ease-in;
    transform: translateY(50px);
    opacity: 0
}
.home-slider  h2 img{
    max-width: 350px;
    display: block;
    margin: 10px auto;
    width: 90%
}
.home-slider .linkSlider{
    font-size: 22px;
    font-weight: bold;
    transition: all 0.4s 600ms ease-in;
    transform: translateY(50px);
    opacity: 0
}
.linkSlider {
    position: relative
}
.linkSlider:after{
    content: "";
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: #2dccd3;
    width: 70px;
    height: 3px;
}
.ma-t{
    margin-top: 85px
}
.owl-theme .owl-nav{
    margin: 0
}
.home-slider .owl-item.active  h2,
.home-slider .owl-item.active  .linkSlider{
    transform: translateY(0);
    opacity: 1
}
/* top-nav
===================== */
.top-nav{
    background: #3a3a3a;
    color: #FFF
}
.top-nav .contact-nav {
    font-size: 12px;
    margin-top: 3px
}
.top-nav .contact-nav span{
    display: inline-block;
    padding: 10px
}
.top-nav .contact-nav span i {
    margin-right: 15px
}
.socail-list{
    
}
.socail-list li{
    display: inline-block;
   
}
.socail-list li a {
    padding: 10px;
    display: block
}
.socail-list li a:hover {
    color: #2ccbd2
} 
.socail-list li a i {
    
}