@import url('https://fonts.googleapis.com/css?family=Cairo');
body{
    font-family: 'Cairo', sans-serif;
}
.pattern{
    left: 30px;
    right: auto;
    transform: rotateY(180deg);
}
.home-slider{
    text-align: right
}
.feature-widget .content p{
    font-size: 17px
}
.sideHome h2::after{
    left: auto;
    right: 0
}
.linkSlider::after{
    left: auto;
    right: 20px
}
footer .top-foot form button{
    margin-left: 0;
    margin-right: -5px
}
.about h3{
    letter-spacing: 0
}
.feature-widget{
    text-align: right
}
@media (max-width: 991px){
    .navbar-toggler {
        right:auto;
        left: 20px
    }
}
.about,
.side{
    text-align: right;
}
.line{
    font-size: 22px
}
.line:after{
    right: 0;
    left: auto;
}
.top-nav .contact-nav span i {
    margin-left: 15px;
    margin-right: 0
}